<%= form_with(model: person) do |f| %>
  <% if person.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading">
        <%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:
      </h4>
      <ul class="mb-0">
        <% person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :name, "Person name", class: "form-label text-primary" %>
    <%= f.text_field :name, class: "form-control", placeholder: "Person name e.g. John Snow", required: true, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="mb-3">
    <%= f.label :email, "Person email address", class: "form-label text-primary" %>
    <%= f.email_field :email, class: "form-control", placeholder: "Person email address e.g. john@example.com", required: true, autocomplete: "email" %>
  </div>

  <div class="mb-3">
    <%= f.label :phone, "Person phone number", class: "form-label text-primary" %>
    <%= f.telephone_field :phone, class: "form-control", placeholder: "Person phone number e.g. +380631112233", required: true, autocomplete: "tel" %>
  </div>

  <div class="text-center">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
