<tr id="<%= dom_id(person) %>">
  <td><%= person.name %></td>
  <td><%= person.email %></td>
  <td><%= person.phone %></td>
  <td>VIEW</td>
  <td>EDIT</td>
  <td><%= link_to("Destroy", person_path(person), class: "btn btn-primary", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}) %></td>
</tr>
