<tr id="<%= dom_id(person) %>">
  <td><%= person.name %></td>
  <td><%= person.email %></td>
  <td><%= number_to_phone(person.phone) %></td>
  <td class="text-center">
    <%= link_to("View", person_path(person), class: "btn btn-primary") %>
  </td>
  <td class="text-center">
    <%= link_to("Edit", edit_person_path(person), class: "btn btn-primary") %>
  </td>
  <td class="text-center">
    <%= link_to("Destroy",
                person_path(person),
                class: "btn btn-danger",
                data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                }) %>
  </td>
</tr>
