<div class="row text-center">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <h1 class="text-primary">Person: <%= @person.name %></h1>

    <%= link_to("Back to people", people_path, class: "btn btn-primary m-1") %>

    <table class="table table-bordered table-striped table-hover table-dark">
      <tbody>
        <tr>
          <td>Name:</td>
          <td><%= @person.name %></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td><%= @person.email %></td>
        </tr>
        <tr>
          <td>Phone:</td>
          <td><%= @person.phone %></td>
        </tr>
        <tr>
          <td>Edit</td>
          <td>
            <%= link_to("Destroy",
                        person_path(@person, format: :html),
                        class: "btn btn-primary",
                        data: {
                          turbo_method: :delete,
                          turbo_confirm: "Are you sure?"
                        }) %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
