<%= turbo_frame_tag dom_id(@car, :ownerships) do %>
  <h2 class="text-primary">Car ownership history</h2>

  <table class="table table-bordered table-striped table-hover table-dark">
    <thead>
      <tr>
        <th>Owner name</th>
        <th>Owner email</th>
        <th>Owner phone</th>
        <th>Date of sale</th>
        <th>Price</th>
        <th>Mileage</th>
      </tr>
    </thead>
    <tbody>
      <% @car.ownerships.each do |ownership| %>
        <tr>
          <td><%= link_to(ownership.person.name, person_path(ownership.person)) %></td>
          <td><%= ownership.person.email %></td>
          <td><%= number_to_phone(ownership.person.phone) %></td>
          <td><%= ownership.date_of_sale %></td>
          <td><%= ownership.price %></td>
          <td><%= ownership.mileage %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
