<tr id="<%= dom_id(car) %>">
  <td><%= car.model %></td>
  <td><%= car.make %></td>
  <td><%= car.color %></td>
  <td><%= car.mileage %></td>
  <td>Owner</td>
  <td><%= car.for_sale %></td>
  <td class="text-center">
    <%= link_to("View", car_path(car), class: "btn btn-primary") %>
  </td>
  <td class="text-center">
    <%= link_to("Edit", edit_car_path(car), class: "btn btn-primary") %>
  </td>
  <td class="text-center">
    <%= link_to("Destroy",
                car_path(car),
                class: "btn btn-danger",
                data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                }) %>
  </td>
</tr>
