<%= form_with(model: car) do |f| %>
  <% if car.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading">
        <%= pluralize(car.errors.count, "error") %> prohibited this person from being saved:
      </h4>
      <ul class="mb-0">
        <% car.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :make, "Car make", class: "form-label text-primary" %>
    <%= f.text_field :make, class: "form-control", placeholder: "Car make e.g. Tesla or Toyota", required: true, autofocus: true %>
  </div>

  <div class="mb-3">
    <%= f.label :model, "Car model", class: "form-label text-primary" %>
    <%= f.text_field :model, class: "form-control", placeholder: "Car model e.g. Model S or Model 3", required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :color, "Car color", class: "form-label text-primary" %>
    <%= f.text_field :color, class: "form-control", placeholder: "Car color e.g. black or white", required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :mileage, "Car mileage", class: "form-label text-primary" %>
    <%= f.number_field :mileage, class: "form-control", placeholder: "Car mileage e.g. 10000", required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :for_sale, "Car for sale?", class: "form-check-label text-primary" %>
    <%= f.check_box :for_sale, class: "form-check-input" %>
  </div>

  <div class="mb-3">
    <%= f.label :owner, "Car owner", class: "form-label text-primary" %>
    <!-- TODO: select field -->
  </div>

  <div class="text-center">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
