<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <div class="row">
      <div class="col-6">
        <h1 class="text-primary m-auto">Car: <%= @car.id %></h1>
      </div>
      <div class="col-6 text-end m-auto">
        <%= link_to("Back to cars", cars_path, class: "btn btn-primary") %>
      </div>
    </div>

    <table class="table table-bordered table-striped table-hover table-dark">
      <tbody>
        <tr>
          <td>Make:</td>
          <td><%= @car.make %></td>
        </tr>

        <tr>
          <td>Model:</td>
          <td><%= @car.model %></td>
        </tr>

        <tr>
          <td>Color:</td>
          <td><%= @car.color %></td>
        </tr>

        <tr>
          <td>Mileage:</td>
          <td><%= @car.mileage %></td>
        </tr>

        <tr>
          <td>Owner:</td>
          <td><%= link_to(@car.owner.name, person_path(@car.owner)) %></td>
        </tr>

        <tr>
          <td>Is for sale?:</td>
          <td><%= yes_or_no(@car.for_sale) %></td>
        </tr>

        <tr>
          <td>
            <%= link_to("Edit", edit_car_path(@car), class: "btn btn-primary") %>
          </td>
          <td>
            <%= link_to("Destroy",
                        car_path(@car, format: :html),
                        class: "btn btn-danger",
                        data: {
                          turbo_method: :delete,
                          turbo_confirm: "Are you sure?"
                        }) %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <%= turbo_frame_tag dom_id(@car, :ownerships),
                        src: car_car_ownerships_history_index_path(@car),
                        target: "_top" do %>
      <h2 class="text-primary">Car ownership history</h2>

      <div class="text-primary">Loading...</div>
    <% end %>
  </div>
</div>
